.lowerPageContainer{
  flex-direction: row;
    /* min-height: 600px; */
    display: flex;
    /* -webkit-flex: 1 1 calc(100% - 80px); */
    flex-direction: row;
    /* height: 100%; */
    /* box-sizing: border-box; */
    -webkit-text-size-adjust: 100%;
    /* --vh: 937px; */
    flex: 1 1 calc(100% - 80px);
    max-height: calc(100% - 80px);
    /* bottom: 20px; */
    position: absolute;
    top: 100px;
    width: 100%;
    bottom: 0;
    z-index: -1;
}


.leftLowerPageConainer{
  display: flex;
  width: 280;
  height: 600;
  background-color: #0bb634;;
  max-width: 280px;
  flex: 0 0 280px;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 46px;
  align-items: center;
  width: 120px;
  height: auto;
  max-height: none;
  bottom: auto;
  padding: 33px 20px 30px;
  flex-direction: column;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

.rightLowerPageContainer{

}
