.lowerPageContainer{
  flex-direction: row;
    /* min-height: 600px; */
    display: flex;
    /* -webkit-flex: 1 1 calc(100% - 80px); */
    flex-direction: row;
    /* height: 100%; */
    /* box-sizing: border-box; */
    -webkit-text-size-adjust: 100%;
    /* --vh: 937px; */
    flex: 1 1 calc(100% - 80px);
    max-height: calc(100% - 80px);
    /* bottom: 20px; */
    position: absolute;
    top: 100px;
    width: 100%;
    bottom: 0;
    z-index: -1;
}


.leftLowerPageConainer{
  display: flex;
  width: 280;
  height: 600;
  background-color: #0bb634;;
  max-width: 280px;
  flex: 0 0 280px;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 46px;
  align-items: center;
  width: 120px;
  height: auto;
  max-height: none;
  bottom: auto;
  padding: 33px 20px 30px;
  flex-direction: column;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

.deleteButton{
  border-radius: 10px;
  border: none;
  /* mix-blend-mode: difference; */
  font-weight: bolder;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  max-width: 152px;
}

.rightLowerPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: space-evenly; */
  background-color: #f7f7f7;
  gap: 100px;
}

.PageTitleContainer{
  display: flex;
  width: 100%;
  background-color: white;
}

.PageTitle{
  color: #999;
  padding: 0 100px;
}

.transactionContainer{
  display: flex;
  width: 100%;
  max-height: 500px;
  background-color: white;
  flex-direction: column;
  overflow-y: scroll;
}

.transactionBar{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 100px;
  min-height: 100px;
}

.transactionInnerBar{
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  max-width: 1234px;
}

.transactionBar:hover{
  background-color: #f7f7f7;
}

.profile-photo-transaction{
  object-fit: cover;
  border-radius: 160px;
  height: 45px;
  width: 45px;
  transform: scale(1,1);
}
