.sideNavBar{
  display: flex;
  width: 280;
  height: 600;
  flex-direction: column;
  color: #fff;
  margin-top: 52px;
  justify-items: center;
  align-items: center;
}

.topUserInfoSideNav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  font-size: 30px;
  min-height: 140px;
  max-width: 100%;
  width: 100%;
}

.SideNavIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 115px;
  font-size: 33px;
  margin-bottom: 20px;
  border-radius: 60px;
  z-index: 100;
}

#a:hover #b {
  z-index: -110;
}

/* .profile-photo-edit:hover{
  z-index: 100;
} */

.profile-photo{
  object-fit: cover;
  border-radius: 160px;
  height: 115px;
  width: 115px;
  transform: scale(1,1);
}

.profile-photo-edit{
  position: absolute;
  object-fit: cover;
  border-radius: 160px;
  height: 115px;
  width: 115px;
  transform: scale(1,1);
}

.bittomInfoSideNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideNavBarClickLink a{
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
}

.sideNavBarClickLink{
  padding: 10px 0;
  margin-bottom: 30px;

}

.sideNavBarClickLinkFunds{
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 50px;
  margin-bottom: 20px;
}
